<h1>Podaj wyniki gonitwy nr: {{id}}</h1>


<div class="container">
  <div class="row">
    <div class="col-lg">
      
<legend>Lista startowa wyscigu nr:{{idParameter}}</legend>

<table class="table table-dark table-active table-bordered table-striped table-hover ">
  <td>Numer wierzchowca</td>
  <td>Nazwa wierzchowca</td>

  <tr *ngFor="let l of lista">
    <td >{{l.nrWierzchowca}}</td>
    <td>{{l.nazwaWierzchowca}}</td>
  </tr>
</table>
    </div>
    <div class="col-lg">
          
  <form  action="#" method="post"data-validate="parsley" class="registration-form" [formGroup]="wynikForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="NrGonitwyWSezonie"></label>
        <input type="hidden" formContorlName="Imie"/>
      </div>
      
      <div class="form-group">
        <label for="konIMiejsce">I miejsce</label>
        <select formControlName="konIMiejsce" class="form-control">
            <!-- (change)='zmienListe($event) -->
          <option *ngFor="let w of lista" [value]="w.nazwaWierzchowca" >
            {{w.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="konIiMiejsce">II miejsce</label>
        <select formControlName="konIiMiejsce" class="form-control" >
          <option *ngFor="let w of lista" [value]="w.nazwaWierzchowca">
            {{w.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="konIiiMiejsce">III miejsce</label>
        <select formControlName="konIiiMiejsce" class="form-control" >
          <option *ngFor="let w of lista" [value]="w.nazwaWierzchowca">
            {{w.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="konIvMiejsce">IV miejsce</label>
        <select formControlName="konIvMiejsce" class="form-control">
          <option *ngFor="let w of lista" [value]="w.nazwaWierzchowca">
            {{w.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="konVMiejsce">V miejsce</label>
        <select class="form-control" formControlName="konVMiejsce" >
          <option *ngFor="let w of lista" [value]="w.nazwaWierzchowca">
            {{w.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="konViMiejsce">VI miejsce</label>
        <select formControlName="konViMiejsce" class="form-control">
          <option *ngFor="let w of lista" [value]="w.nazwaWierzchowca">
            {{w.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="konViiMiejsce">VII miejsce</label>
        <select formControlName="konViiMiejsce" class="form-control">
          <option *ngFor="let w of lista" [value]="w.nazwaWierzchowca">
            {{w.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-success btn-active btn-lg" >Aktualizuj</button>
        <button [routerLink]="['/szczegoly-wyscigu',id]" class="btn btn-secondary btn-active btn-lg">Wróć<br/></button>
        </div>
    </form>
    </div>
  </div>
</div>




