.btn{
    background-color:orange;
    border-radius: 20;
    color: black;
    font-family: 'Oswald', 'Oswald-Regular','Oswald-Bold';
    font-size: 15;
    vertical-align: middle;
    width: 90%;
}

.btn:active {
    background-color: yellow;
    transform: translateY(4px);
  }
  ScrollView{
      background-color: black;
      
  }