<app-action-bar title="Zmiana hasło" [showBackButton]="true"></app-action-bar>
<ScrollView>
  <Label text="Wprowadź dane" class="h5" textWrap="true"></Label>
  <StackLayout class="form" [formGroup]="hasloForm" style="padding:8%">
    <StackLayout class="input-field">
      <TextField
        class="input"
        returnKeyType="done"
        [autocorrect]="false"
        autocapitalizationType="none"
        formControlName="Haslo"
        [ngClass]="{ 'is-invalid': submitted && f.Haslo.errors }"
      ></TextField>
      <StackLayout class="hr-dark m-2"></StackLayout>
      <Label text="Wprowadź hasło" class="label" textWrap="true"></Label>
    </StackLayout>

    <StackLayout>
      <Button
        class="btn btn-primary btn-active"
        text="Zmień hasło"
        (tap)="onSubmit()"
      ></Button>
    </StackLayout>
  </StackLayout>
</ScrollView>

<!--
Original Web template:

<h1>Zmiana hasla</h1>


<form [formGroup]="hasloForm" (ngSubmit)="onSubmit()">
    <label for="Haslo">Haslo</label>
    <input type="Haslo" formControlName="Haslo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Haslo.errors }" />
    <div *ngIf="submitted && f.Haslo.errors" class="invalid-feedback">
        <div class="required_link" *ngIf="f.Haslo.errors.required">Password is required</div>
        <div class="required_link" *ngIf="f.Haslo.errors.minlength">Password must be at least 6 characters</div>
    </div>
    <div class="haslo-Form">
      <button [disabled]="loading" class="btn btn-primary btn-lg">Zmień</button>
      <button [routerLink]="['/moje-konto']" class="btn btn-secondary btn-sm">Wróć<br/></button>
    </div>
</form>

-->
