<ActionBar title="Gonitwy" icon="" class="action-bar">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back"></NavigationButton>
</ActionBar>


<ListView [items]="gonitwy">

        <GridLayout columns="20, 2*, *, *, *" class="p-5" [backgroundColor]="i == 0 ? '#ccc' : 'white'">
            <Label col="0" text="Numer"></Label>
            <Label col="1" text="Nazwa nagrody" textAlignment="left"></Label>
            <Label col="2" text="Godzina"></Label>
            <Label col="3" text="Data'"></Label>
            <Label col="4" text="Długość"></Label>
          </GridLayout>


    <ng-template let-g="item" let-i="index">
      <GridLayout columns="25, 6*, 2*, 3*, 2*" class="p-5"  [backgroundColor]="i == 0 ? '#ccc' : 'white'">
        <Label class="h4" col="0" [text]="g.nrGonitwyWSezonie"></Label>
        <Label class="h4" col="1" [text]="g.nazwaNagrody" textAlignment="left"></Label>
        <Label class="h4" col="2" [text]="g.godzinaRozpoczecia | slice:0:5" textAlignment="left"></Label>
        <Label class="h4" col="3" [text]="g.data | date:'shortDate'" textAlignment="center"></Label>
        <Label class="h4" col="4" [text]="g.dlugosc" textAlignment="right"></Label>
      </GridLayout>
    </ng-template>
  </ListView>



<!--
<legend>Tabela gonitw które się odbedą</legend>
<div class="table-wrapper-scroll-y">

  <table class="table table-bordered table-striped table-hover table-dark">
    <tr>
      <td> Numer Sezonowy Gonitwy:</td>
      <td>Wyscig o:</td>
      <td>Warunki:</td>
      <td>Godzina startu:</td>
      <td>Data:</td>
      <td>Dystans wyscigu(m):</td>
      <td *ngIf="!isAdmin">Obstaw:</td>
      <td *ngIf="isAdmin">Aktualizacja</td>
      <td *ngIf="isAdmin">Usuń</td>
    </tr>
    <tr *ngFor="let g of gonitwyFuture">
      <td>{{g.nrGonitwyWSezonie}}</td>
      <td>{{g.nazwaNagrody}}</td>
      <td>{{g.warunkiGonitwy}}</td>
      <td>{{g.godzinaRozpoczecia}}</td>
      <td>{{g.data| date:'dd-MM-yyyy'}}</td>
      <td>{{g.dlugosc}}</td>
      <td *ngIf="!isAdmin"><button class="btn btn-warning btn active" *ngIf="!isAdmin" [routerLink]="['/obstaw',g.nrGonitwyWSezonie]">Obstaw wynik</button> </td>
      <td *ngIf="isAdmin"><button class="btn btn-primary btn-active" *ngIf="isAdmin" [routerLink]="['/aktual-gonitwy',g.nrGonitwyWSezonie]">Aktualizuj</button></td>
      <td *ngIf="isAdmin"><button class="btn btn-danger btn active" *ngIf="isAdmin" (click)='usunGonitwe(g.nrGonitwyWSezonie)'>Usuń gonitwę</button> </td>
    </tr>
  </table>
</div>
 <button class="btn btn-success btn-lg btn-block" *ngIf="isAdmin"(click)="ngDodajGonitwe()">Dodaj gonitwe</button> -->


