/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/


AbsoluteLayout{
  border-bottom-color: orange;
  border-width: 1;
}


.table{
  background-color: black;
  color:white;
  border-bottom-color:orange;
}
.h4{
  background-color: black;
  color:white;
  border-bottom-color:orange;
}
