<app-action-bar title="Gonitwy" [showBackButton]="true"></app-action-bar>
<TabView androidTabsPosition="bottom" selectedTabTextColor="black"
androidSelectedTabHighlightColor="aquamarine" >

<ListView *tabItem="{title: 'Wyniki', iconSource: 'res://icon'}" [items]="gonitwy"   (itemTap)="zobaczSzczegoly($event)"  >
  <ng-template let-g="item" let-i="index" >
    <AbsoluteLayout  orientation="horizontal" (tap)="onItemTap(g.nrGonitwyWSezonie)" >
      <Label height="30" class="h4" top="15%" left="15%" [text]="g.nrGonitwyWSezonie" ></Label>
      <Label class="h4" top="15%"  left="38%" [text]="g.nazwaNagrody"  ></Label>
      <Label class="h4" top="15%"  left="130%" [text]="g.godzinaRozpoczecia | slice:0:5" ></Label>
      <Label class="h4" top="15%"  left="170%"  [text]="g.data | date:'shortDate'" ></Label>
      <Label class="h4" top="15%"  left="220%"  [text]="g.dlugosc" ></Label>
    </AbsoluteLayout>
  </ng-template>
</ListView>
    <ListView *tabItem="{title: 'Obstaw', iconSource: 'res://icon'}" [items]="gonitwyFuture"(itemTap)="zobaczSzczegoly($event)"  >

      <ng-template let-g="item" let-i="index" >
        <AbsoluteLayout orientation="horizontal" (tap)="onItemTapObstaw(g.nrGonitwyWSezonie)" >

          <Label class="h4" height="30"  top="15%"  left="15%" [text]="g.nrGonitwyWSezonie" ></Label>
          <Label class="h4" top="15%"  left="38%" [text]="g.nazwaNagrody"  ></Label>
          <Label class="h4" top="15%"  left="130%" [text]="g.godzinaRozpoczecia | slice:0:5" ></Label>
          <Label class="h4" top="15%"  left="170%"  [text]="g.data | date:'shortDate'" ></Label>
          <Label class="h4" top="15%"  left="220%"  [text]="g.dlugosc" ></Label>
        </AbsoluteLayout>
      </ng-template>
    </ListView>

</TabView>





<!-- <StackLayout>
<StackLayout orientation="horizontal">
    <Button text="<>" (tap)="pyk()" height="40" width="40"></Button>
  <Label *ngIf="przyszleGonitwy"  class="h3" text="Sprawdź szczegóły wyścigu:" ></Label>
  <Label *ngIf="!przyszleGonitwy"  class="h3"  text="Obstaw" ></Label>

</StackLayout>
<GridLayout  width="100%" rows="35,*" columns="*">
    <AbsoluteLayout orientation="horizontal" class="p-5" [backgroundColor]="i == 0 ? '#ccc' : 'white'">
        <Label class="h5" text="Numer" left="2*" ></Label>
        <Label class="h5"  text="Nazwa" left="57*"  textAlignment="left"></Label>
        <Label class="h5"  text="Godzina" left="110*"></Label>
        <Label class="h5"  text="Data" left="165*"></Label>
        <Label class="h5"  text="Dystans" left="200*"></Label>
      </AbsoluteLayout>

<ListView *ngIf="przyszleGonitwy" [items]="gonitwy" row="1" col="0"  (itemTap)="zobaczSzczegoly($event)"  >

    <ng-template let-g="item" let-i="index" >
      <AbsoluteLayout  orientation="horizontal" (tap)="onItemTap(g.nrGonitwyWSezonie)" >

        <Label height="30" class="h4" top="15%" left="15%" [text]="g.nrGonitwyWSezonie" ></Label>
        <Label class="h4" top="15%"  left="38%" [text]="g.nazwaNagrody"  ></Label>
        <Label class="h4" top="15%"  left="130%" [text]="g.godzinaRozpoczecia | slice:0:5" ></Label>
        <Label class="h4" top="15%"  left="170%"  [text]="g.data | date:'shortDate'" ></Label>
        <Label class="h4" top="15%"  left="220%"  [text]="g.dlugosc" ></Label>
      </AbsoluteLayout>
    </ng-template>
  </ListView>

  <ListView *ngIf="!przyszleGonitwy" [items]="gonitwyFuture" row="1" col="0"  (itemTap)="zobaczSzczegoly($event)"  >

      <ng-template let-g="item" let-i="index" >
        <AbsoluteLayout orientation="horizontal" (tap)="onItemTapObstaw(g.nrGonitwyWSezonie)" >

          <Label class="h4" height="30"  top="15%"  left="15%" [text]="g.nrGonitwyWSezonie" ></Label>
          <Label class="h4" top="15%"  left="38%" [text]="g.nazwaNagrody"  ></Label>
          <Label class="h4" top="15%"  left="130%" [text]="g.godzinaRozpoczecia | slice:0:5" ></Label>
          <Label class="h4" top="15%"  left="170%"  [text]="g.data | date:'shortDate'" ></Label>
          <Label class="h4" top="15%"  left="220%"  [text]="g.dlugosc" ></Label>
        </AbsoluteLayout>
      </ng-template>
    </ListView>
</GridLayout>
</StackLayout>
 -->



