<legend>Dodawanie wierzchowców do listy wyscigowej wyścigu nr: {{idParameter}}</legend>
<form  action="#" method="post"data-validate="parsley" class="registration-form" [formGroup]="dodajForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="hidden" formControlName="NrGonitwyWSezonie"/>
  </div>

  <div class="form-group">
    <label for="NrWierzchowca">NazwaWierzchowca</label>
    <select formControlName='NrWierzchowca'class="form-control" (change)=dajKurs($event)  [ngClass]="{ 'is-invalid': submitted && f.NrWierzchowca.errors }">
      <option *ngFor="let w of wierzchowce" [value]="w.nrWierzchowca">
        {{w.nazwaWierzchowca}}
      </option>
    </select>
    <div *ngIf="submitted && f.NrWierzchowca.errors"  class="invalid-feedback">
        <div class="required_link" *ngIf="f.NrWierzchowca.errors.required">Wybierz wierzchowca</div>
        <div class="required_link" *ngIf="f.NrWierzchowca.errors.invalid">Wybierz innego</div>
    </div>
    
  </div>

  <div class="form-group">
    <label for="Kurs">Kurs</label>
    <input class="form-control"  type="number" formControlName="Kurs" value="kursPRD" />
  </div>

      <button [disabled]="loading" class="btn btn-primary btn-lg btn-block btn-active">Zapisz zmiany</button>
      <button [routerLink]="['/gonitwy']" class="btn btn-secondary btn-lg btn-block btn-active">Wróć<br/></button>
</form><br/>

<div>
<legend>Lista startowa wyscigu nr: {{idParameter}}</legend>
<table class="table table-bordered table-striped table-dark table-active">
  <td>Numer wierzchowca</td>
  <td>Nazwa wierzchowca</td>
  <td>Akcja</td>
  <tr *ngFor="let l of lista">
    <td>{{l.nrWierzchowca}}</td>
    <td>{{l.nazwaWierzchowca}}</td>
    <td><button class="btn btn-danger btn-lg btn-active" (click)="usunZListy(l.idListy)">Usun</button> </td>
  </tr>
</table><br/>
 </div>

<h2>Aktualizuj dane gonitwy</h2>

<form action="#" method="post"data-validate="parsley" class="registration-form" [formGroup]="updateForm" (ngSubmit)="onAktual()">
  
  <div class="form-group">
    <label for="NazwaNagrody">Nazwa nagrody:</label>
    <input class="form-control" type="text" formControlName="NazwaNagrody"/>
  </div>

  <div class="form-group">
    <label for="WarunkiGonitwy">Warunki gonitwy:</label>
    <input class="form-control" type="text" formControlName="WarunkiGonitwy"/>
  </div>

  <div class="form-group">
    <label for="GodzinaRozpoczecie">Godzina startu:</label>
    <input class="form-control" type="time" formControlName="GodzinaRozpoczecia"/>
  </div>

  <div class="form-group">
    <label for="Data">Data:</label>

    <input class="form-control" type="date"  min="{{today| date:'yyyy-MM-dd'}}" formControlName="Data"  />

  </div>

  <div class="form-group">
    <label for="Dlugosc">Dlugosc:</label>
    <input class="form-control" type="number" formControlName="Dlugosc"/>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-success btn-lg btn-block">Aktualizuj</button>
    <button [routerLink]="['/gonitwy']" class="btn btn-secondary  btn-lg btn-block">Wróć<br/></button>
    </div>

</form>

