ListView{
    background-color: rgb(54, 54, 54);
    color: orange;
}
GridLayout{
    background-color: black;
}
.h4{
    color: orange;

}
.btn{
    background-color:rgb(226, 57, 14);
    border-radius: 20;
    color: black;
    font-family: 'Oswald', 'Oswald-Regular','Oswald-Bold';
    font-size: 15;
    width: 80%;
}
.btn:active {
    background-color: yellow;
    transform: translateY(4px);
  }