ListView{
    background-color: rgb(54, 54, 54);
    color: orange;
}
GridLayout{
    background-color: black;
}
.h4{
    color: orange;

}
.fa{
    font-family: 'FontAwesome', 'Font-Awesome';
    color: orange;
    font-size: 30%;
}