ScrollView{
    background-color: black;
    color: orange;
}

.btn{
    background-color:orange;
    border-radius: 20;
    color: black;
    font-family: 'Oswald', 'Oswald-Regular','Oswald-Bold';
    font-size: 15;
    vertical-align: middle;
    width: 50%;
}
.btn-reg{
    background-color:orange;
    border-radius: 20;
    color: black;
    font-family: 'Oswald', 'Oswald-Regular','Oswald-Bold';
    font-size: 15;
    
    width: 50%;
    
}
.text{
    text-align: center;

}
.btn-reg:active {
    background-color: yellow;
    transform: translateY(4px);
  }
  .btn:active {
    background-color: yellow;
    transform: translateY(4px);
  }
