<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->

<!-- <page-router-outlet></page-router-outlet> -->
<!-- <app-admin></app-admin> -->

<RadSideDrawer  >

  <GridLayout tkDrawerContent rows="auto,*" class="drawer-container" (tap)="pyk()">
      <ScrollView height="100%">

    <StackLayout class="sideStackLayout" row="1" >
        <Label nsRouterLink="/moje-zaklady"  (tap)="onCloseDrawerTap()" class="h3" text="Menu"></Label>
        <Label class="sideLabel" text="Jak Grać" nsRouterLink="jak-grac" (tap)="onCloseDrawerTap()"></Label>
        <Label class="sideLabel" text="Strona Główna" nsRouterLink="/home" (tap)="onCloseDrawerTap()" ></Label>
        <Label class="sideLabel" text="Gonitwy" nsRouterLink="gonitwy" (tap)="onCloseDrawerTap()" ></Label>
        <Label class="sideLabel" text="Moje Konto" nsRouterLink="moje-konto" (tap)="onCloseDrawerTap()" ></Label>
        <Label class="sideLabel" text="O wyścigach" nsRouterLink="historia" (tap)="onCloseDrawerTap()"></Label>
        <Label class="sideLabel" text="Panel administratora" nsRouterLink="/admin" (tap)="onCloseDrawerTap()" ></Label>
        <Label *ngIf="currentUser!=null" class="sideLabel" text="Wyloguj"  [clearHistory]="true"(tap)="logout()"></Label>
        <!-- <Label  class="sideLabel" text="Zaloguj" *ngIf="!currentUser" (tap)="onCloseDrawerTap()" ></Label> -->

    </StackLayout>
  </ScrollView>
  </GridLayout>


  <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>

<!-- <StackLayout><page-router-outlet
  ></page-router-outlet></StackLayout> -->

