<h1 class="text-left">Witamy w samouczku</h1>
<h2>Krok 1</h2>
<h3>
  Aby obstawić wynik należy gospodarować pewną sumą pieniędzy.Aby doładować swoje konto należy kliknąć pole  MOJE KONTO w menu na górze ekranu a następnie przycisk <button class="btn btn-primary">"Doładuj konto"</button>
</h3>
<h2>Krok 2</h2>
<h3>
Następnie przechodzimy do zakładki GONITWY. Tam możemy zobaczyć gonitwy, które się już odbyły i gonitwy, które odbędą się wkrótce. Aby zobaczyć wyniki gonitw klikamy SZCZEGÓŁY. Aby przejść do obstawiania klikamy przycisk OBSTAW przy wyścigu,który nas interesuje

</h3>
<h2>Krok 3</h2>
<h3>
  Jesteśmy w panelu obstawiania.

  Tutaj musimy wybrać RODZAJ GONITWY którego mamy 5 rodzajów:
  <div class="align-middle">
  <li class="list-group">Rodzaje gonitwy:
    <ul class="list-group-item list-group-item-action">ZWYCZAJNY-wybieramy jednego konia, który wygra wyścig</ul>
    <ul class="list-group-item list-group-item-action">PORZĄDEK-wybieramy dwa konie, które zajmą pierwsze dwa miejsca zgodnie z tym jak wyznaczyliśmy</ul>
    <ul class="list-group-item list-group-item-action">DWÓJKA-wybieramy dwa konie, które zajmą pierwsze dwa miejsca kolejność nie ma znaczenia</ul>
    <ul class="list-group-item list-group-item-action">TRÓJKA-wybieramy trzy konie, które zajmą pierwsze trzy miejsca</ul>
    <ul class="list-group-item list-group-item-action">CZWÓRKA-wybieramy cztery konie, które zajmą pierwsze cztery miejsca</ul>
  </li>
  </div>

  następnie wpisujemy stawkę o jaką zagramy(Pamiętaj o doładowaniu konta :D ). Wybieramy wierzchowce w odpowiednich kolejnościach i klikamy DODAJ ZAKŁAD.
  (Masz możliwość obstawienia 3 takich samych wierzchowców na każdym miejscu. Tylko pamiętaj, że w takiej sytuacji nic nie zyskujesz!!!).
</h3>
<h2>Krok 4</h2>
<h3>
  Czekasz na wynik wyścigu. Może pojawić sie z opóźnieniem gdyż administracja musi wprowadzić go po weryfikacji miejsc i testach antydopingowych i antynarkotykowych.
</h3>
<h2>Krok 5</h2>
<h3>
  Ciesz sięz wygranej!!!!
  Pieniądze zostaną przelane na Twoje konto w totalizatorze !!!
</h3>

