
<div class="align-middle">

  <h3>gracze zarejestrowani:</h3>
<table class="table table-bordered table-striped table-hover table-dark">
  <tr *ngFor="let gracz of gracze">
    <td>{{gracz.login}}</td>
    <td>{{gracz.imie}} </td>
    <td>{{gracz.nazwisko}}</td>
  </tr>
</table>

  <p><button routerLink="/wierzchowiec" class="btn btn-primary btn-lg btn-active" style="cursor:pointer">Zarządzanie wierzchowcami <br/></button></p>
  
  <p><button routerLink="/gonitwy" class="btn btn-active btn-primary btn-lg">Zarządzaj gonitwami</button></p>
  
  
</div>

