<app-action-bar title="Obstaw wyścig"></app-action-bar>

<!--
Original Web template:

<h1>Obstaw wyścig </h1>
<div class="container">
    <div class="row">
        <div class="col">
<form  action="#" method="post"data-validate="parsley" class="registration-form" [formGroup]="zakladForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label for="RodzajZakladu">RodzajZakladu</label>
    <select formControlName="RodzajZakladu" (change)='onChange($event)' class="form-control" >
      <option placeholder="rodzaj zakładu" *ngFor="let r of rodzaje" [value]="r.id">
        {{r.nazwaZakladu}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <input type="hidden" formControlName="IdGonitwy" />
  </div>
  <div class="form-group">
    <input type="hidden" formControlName="IdGracza"/>
  </div>
  <div class="form-group">
    <label for="Stawka">Stawka</label>
    <input type="number" formControlName="Stawka" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="Typowanie1">Typ1</label>
    <select placeholder="Nazwa wierzchowca i kurs" formControlName="Typowanie1" class="form-control">
      <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
        {{l.nazwaWierzchowca}}
      </option>
    </select>
  </div>
  <div class="form-group">
      <label for="Typowanie2">Typ2</label>
      <select placeholder="Nazwa wierzchowca i kurs" *ngIf="idP==2 || idP==3 ||idP==4 || idP==5" formControlName="Typowanie2" class="form-control">
        <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
          {{l.nazwaWierzchowca}}
        </option>
      </select>
    </div>
    <div class="form-group">
        <label for="Typowanie3">Typ3</label>
        <select placeholder="Nazwa wierzchowca i kurs" *ngIf="idP==4 || idP==5" formControlName="Typowanie3" class="form-control">
          <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
            {{l.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
          <label for="Typowanie4">Typ4</label>
          <select placeholder="Nazwa wierzchowca i kurs" *ngIf=" idP==5"formControlName="Typowanie4" class="form-control">
            <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
              {{l.nazwaWierzchowca}}
            </option>
          </select>
        </div>
  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">Dodaj zakład</button>
      <button [routerLink]="['/gonitwy']" class="btn btn-secondary btn-lg btn-block">Wróć<br/></button>
  </div>
</form>
</div>

<div class="col-4">
  <legend>Lista startowa:</legend>
  <table class="table table-dark table active table-bordered table-striped table-hover">
  <tr>
    <td>Nazwa wierzchowca:</td>
    <td>Kurs</td>
  </tr>
  <tr *ngFor="let l of lista">
    <td>{{l.nazwaWierzchowca}}</td>
    <td>{{l.kurs}}</td>
  </tr>
</table>
</div>
</div>
</div>

-->
