<app-action-bar title="Obstaw wyścig" [showBackButton]="true"></app-action-bar>

<DockLayout stretchLastChild="true">
  <StackLayout>
      <Label   text="Kursy:" class="atext" textWrap="true" style="margin-bottom:5; margin-top: 5; margin-left: 8" ></Label>
      <ListView dock="left"  [items]="lista" separatorColor="#AA0078" height="65%" width="30%" style="margin-left: 13" >
          <ng-template let-l="item">
              <StackLayout class="list-group-item">
                  <Label [text]="l.nazwaWierzchowca" class="list-group-item-heading"></Label>
                  <StackLayout orientation="horizontal">
                  <!-- <Label text="Kurs: " class="list-group-item-text" textWrap="true"></Label> -->
                  <Label [text]="l.kurs" class="list-group-item-text" textWrap="true"></Label>
                </StackLayout>
              </StackLayout>
          </ng-template>
        </ListView>
        <Label text="Wybierz rodzaj:" class="list-group-item-text" textWrap="true"></Label>
        <Button dock="left" (tap)="selectBetType()" text="{{typeBet}}" style="background-color: #0099CC; margin: 5;"></Button>
      </StackLayout>

<StackLayout dock="bottom" height="88%" width="100%">
    <Label   text="Typ 1" class="atext" textWrap="true"></Label>
  <Button  (tap)="selectType1()" text="{{type1}}" style="background-color: #AA0078; margin-left: 15;" ></Button>
  <Label   text="Typ 2" class="atext" textWrap="true" *ngIf="idP==2 || idP==3 ||idP==4 || idP==5"></Label>
  <Button (tap)="selectType2()" text="{{type2}}"style="background-color: #AA0078; margin-left: 15;" *ngIf="idP==2 || idP==3 ||idP==4 || idP==5"></Button>
  <Label   text="Typ 3" class="atext" textWrap="true" *ngIf="idP==4 || idP==5"></Label>
  <Button (tap)="selectType3()" text="{{type3}}" style="background-color: #AA0078; margin-left: 15;" *ngIf="idP==4 || idP==5"></Button>
  <Label   text="Typ 4" class="atext" textWrap="true" *ngIf=" idP==5"></Label>
  <Button (tap)="selectType4()" text="{{type4}}" style="background-color: #AA0078; margin-left: 15;" *ngIf=" idP==5"></Button>
</StackLayout>
<StackLayout dock="top" height="12%" orientation="horizontal">
  <Label   text="Stawka: {{stawka}} zł" class="atext" textWrap="true" style="margin-top: 10;" ></Label>
  <Button (tap)="setCash()" text="$$" style="background-color: #B3B3D7;"></Button>
</StackLayout>


</DockLayout>

<!-- Kod do wyświetlenia listy wierzchowców wraz z kursem -->
<!-- <ListView [items]="lista" separatorColor="yellow">
  <ng-template let-l="item">
      <StackLayout class="list-group-item">
          <Label [text]="l.nazwaWierzchowca" class="list-group-item-heading"></Label>
          <StackLayout orientation="horizontal">
          <Label text="Kurs: " class="list-group-item-text" textWrap="true"></Label>
          <Label [text]="l.kurs" class="list-group-item-text" textWrap="true"></Label>
        </StackLayout>
      </StackLayout>
  </ng-template>
</ListView> -->


<!--
Original Web template:

<h1>Obstaw wyścig </h1>
<div class="container">
    <div class="row">
        <div class="col">
<form  action="#" method="post"data-validate="parsley" class="registration-form" [formGroup]="zakladForm" (ngSubmit)="onSubmit()" >
  <div class="form-group">
    <label for="RodzajZakladu">RodzajZakladu</label>
    <select formControlName="RodzajZakladu" (change)='onChange($event)' class="form-control" >
      <option placeholder="rodzaj zakładu" *ngFor="let r of rodzaje" [value]="r.id">
        {{r.nazwaZakladu}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <input type="hidden" formControlName="IdGonitwy" />
  </div>
  <div class="form-group">
    <input type="hidden" formControlName="IdGracza"/>
  </div>
  <div class="form-group">
    <label for="Stawka">Stawka</label>
    <input type="number" formControlName="Stawka" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="Typowanie1">Typ1</label>
    <select placeholder="Nazwa wierzchowca i kurs" formControlName="Typowanie1" class="form-control">
      <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
        {{l.nazwaWierzchowca}}
      </option>
    </select>
  </div>
  <div class="form-group">
      <label for="Typowanie2">Typ2</label>
      <select placeholder="Nazwa wierzchowca i kurs" *ngIf="idP==2 || idP==3 ||idP==4 || idP==5" formControlName="Typowanie2" class="form-control">
        <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
          {{l.nazwaWierzchowca}}
        </option>
      </select>
    </div>
    <div class="form-group">
        <label for="Typowanie3">Typ3</label>
        <select placeholder="Nazwa wierzchowca i kurs" *ngIf="idP==4 || idP==5" formControlName="Typowanie3" class="form-control">
          <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
            {{l.nazwaWierzchowca}}
          </option>
        </select>
      </div>
      <div class="form-group">
          <label for="Typowanie4">Typ4</label>
          <select placeholder="Nazwa wierzchowca i kurs" *ngIf=" idP==5"formControlName="Typowanie4" class="form-control">
            <option *ngFor="let l of lista" [value]="l.nazwaWierzchowca">
              {{l.nazwaWierzchowca}}
            </option>
          </select>
        </div>
  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">Dodaj zakład</button>
      <button [routerLink]="['/gonitwy']" class="btn btn-secondary btn-lg btn-block">Wróć<br/></button>
  </div>
</form>
</div>

<div class="col-4">
  <legend>Lista startowa:</legend>
  <table class="table table-dark table active table-bordered table-striped table-hover">
  <tr>
    <td>Nazwa wierzchowca:</td>
    <td>Kurs</td>
  </tr>
  <tr *ngFor="let l of lista">
    <td>{{l.nazwaWierzchowca}}</td>
    <td>{{l.kurs}}</td>
  </tr>
</table>
</div>
</div>
</div>

-->
