/*
Add your NativeScript specific styles here.
To learn more about styling in NativeScript see:
https://docs.nativescript.org/angular/ui/styling
*/
.atext {
  color: rgb(243, 231, 60);
  font-size: 15;
  text-align: center;

}
.heading {
  /* background-color: #bc7474; */
  color:orange;
  font-size: 20;
  text-align: center;

}
.stack{
  background-color: black;
  color:white;
  border-bottom-color:orange;


}
.list-group{
  background-color: black;
  color:white;
  border-bottom-color:orange;

}
ScrollView{
  background-color: black;
  color: orange;
}
.list-group-item-text{
  color: orange;
  font-size: 20;
}
.list-group-item-text1{
  color: rgb(243, 231, 60);
  font-size: 15;
}
.list-group-item-heading{
  font-size: 20;
  color: orange;
}