



    <div class="row">
        <div class="col-8">
<h1>STRONA GŁÓWNA</h1>
<h1 class="text-center text-success">Hi  {{currentUser.imie}}!</h1>
<h2 class="text-left">Witaj w totalizatorze wyścigów konnych. Nasz totalizator dostarczy Tobie niesamowitych wrażeń. Życzymy samych wygranych !!!</h2>
<h3 class="text-left">Jak zacząć grę w naszym totalizatorze?</h3>
<p>Wszystko jest opisane w samouczku.Do którego możesz przejść <button class="btn btn-active btn-primary btn-lg" routerLink="/jak-grac">tutaj</button></p>

        </div>
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
    </div>

