<h1>Aktualizacja danych</h1>
<form [formGroup]="updateForm" (ngSubmit)="onSubmit()" >
  
  <div class="form-group">
    <label for="Imie">Imie</label>
    <input type="text" formControlName="Imie" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Imie.errors }"/>
  </div>
  <div *ngIf="submitted && f.Imie.errors" class="invalid-feedback">
    <div class="required_link" *ngIf="f.Imie.errors.required">Imie powinno miec co najmniej 3 znaki</div>
</div>


  <div class="form-group">
    <label for="Nazwisko">Nazwisko</label>
    <input type="text" formControlName="Nazwisko" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nazwisko.errors }"/>
    <div *ngIf="submitted && f.Nazwisko.errors" class="invalid-feedback">
      <div class="required_link" *ngIf="f.Nazwisko.errors.required">Nazwisko powinno byc nie mniejsze niz 3 znaki</div>
  </div>


  </div>
  <div class="form-group">
    <label for="Login">Login</label> 
    <input type="text" formControlName="Login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nazwisko.errors }"/>
    <div *ngIf="submitted && f.Login.errors" class="invalid-feedback">
      <div class="required_link" *ngIf="f.Login.errors.required">Login jest wymagany</div>
  </div>
  </div>


  <div class="form-group">
    <label for="Email">Email</label>
    <input type="email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"/>
    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
      <div class="required_link" *ngIf="f.Email.errors.required">E-mail powinien zawierać znak '@'</div>
  </div>


  </div>
  <div class="form-group">
    <label for="Wiek">Wiek</label>
    <input type="number" formControlName="Wiek" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Wiek.errors }"/>
    <div *ngIf="submitted && f.Wiek.errors" class="invalid-feedback">
      <div class="required_link" *ngIf="f.Wiek.errors.required">Wiek jest wymagany</div>
  </div>
  </div>


  <div class="form-group">
    <label for="Wyksztalcenie">Wyksztalcenie</label>
    <input type="text" formControlName="Wyksztalcenie" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Wyksztalcenie.errors }"/>
    <div *ngIf="submitted && f.Wyksztalcenie.errors" class="invalid-feedback">
      <div class="required_link" *ngIf="f.Wyksztalcenie.errors.required">Wykształcenie jest wymagane</div>
  </div>
  </div>


  <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Zapisz zmiany</button>
      <button [routerLink]="['/moje-konto']" class="btn btn-secondary">Wróć<br/></button>
  </div>
</form>