<ActionBar title="Zarejestruj" icon="" class="action-bar">
  <NavigationButton text="Back" android.systemIcon="ic_menu_back" nsRouterLink="/login"></NavigationButton>
</ActionBar>
<ScrollView>
<StackLayout class="form" [formGroup]="registerForm" style="padding:8%">
  <Label text="Wprowadź Imię"> </Label>
  <TextField class="input" returnKeyType="done" [autocorrect]="false" autocapitalizationType="none" formControlName="Imie"
  [ngClass]="{ 'is-invalid': submitted && f.Imie.errors }"></TextField>

  <StackLayout class="hr-dark m-10"></StackLayout>
  <Label text="Nazwisko"> </Label>
  <TextField class="input" returnKeyType="done" [autocorrect]="false" autocapitalizationType="none" formControlName="Nazwisko"
  [ngClass]="{ 'is-invalid': submitted && f.Nazwisko.errors }" ></TextField>

  <StackLayout class="hr-dark m-10"></StackLayout>
  <Label text="Login"> </Label>
  <TextField class="input" returnKeyType="done" [autocorrect]="false" autocapitalizationType="none" formControlName="Login"
  [ngClass]="{ 'is-invalid': submitted && f.Login.errors }"></TextField>

  <StackLayout class="hr-dark m-10"></StackLayout>
  <Label text="Haslo"> </Label>
  <TextField class="input" returnKeyType="done" [autocorrect]="false" autocapitalizationType="none" formControlName="Haslo" [secure]="true" hint="Min 5 znaków"
  [ngClass]="{ 'is-invalid': submitted && f.Haslo.errors }"></TextField>

  <StackLayout class="hr-dark m-10"></StackLayout>
  <Button [disabled]="loading"  text="Zarejestruj" (tap)="onSubmit()"></Button>
  <Label text="Masz już konto? Zaloguj się!" nsRouterLink="/login" > </Label>
</StackLayout>
</ScrollView>


<!--
Original Web template:


<div class="fieldset">
    <legend>Rejestracja</legend>
<form action="#" method="post"data-validate="parsley" class="registration-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >

    <div class="row">
        <label for="Imie">Imie</label>
        <input type="text" placeholder="Wprowadź imię" formControlName="Imie" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Imie.errors }" />
        <div *ngIf="submitted && f.Imie.errors" class="invalid-feedback">
            <div class="required_link" *ngIf="f.Imie.errors.required">Imię jest wymagane</div>
        </div>
    </div>
    <div class="row">
        <label for="Nazwisko">Nazwisko</label>
        <input type="text" placeholder="Wprowadź nazwisko" name="nazwisko" formControlName="Nazwisko" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nazwisko.errors }" />
        <div *ngIf="submitted && f.Nazwisko.errors" class="invalid-feedback">
            <div class="required_link" *ngIf="f.Nazwisko.errors.required">Nazwisko jest wymagane</div>
        </div>
    </div>
    <div class="row">
        <label for="Login">Login</label>
        <input type="text" placeholder="Wprowadź login" formControlName="Login" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Login.errors }" />
        <div *ngIf="submitted && f.Login.errors" class="invalid-feedback">
            <div class="required_link" *ngIf="f.Login.errors.required">Login jest wymagany</div>
        </div>
    </div>
    <div class="row">
        <label  for="Haslo">Haslo</label>
        <input type="password" placeholder="Wprowadź haslo" formControlName="Haslo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Haslo.errors }" />
        <div *ngIf="submitted && f.Haslo.errors" class="invalid-feedback">
            <div class="required_link" *ngIf="f.Haslo.errors.required">Hasło jest wymagane</div>
            <div class="required_link" *ngIf="f.Haslo.errors.minlength">Hasło musi zawierać minimum 6 znaków</div>
        </div>
    </div>
    <div class="row">
        <input type="hidden" formControlName="Rola" class="form-contorl" />

    </div>
    <div class="row">
        <button type="cursor:pointer" class="btn btn-primary btn-lg btn-active btn-block" [disabled]="loading">Zarejestruj</button>
    </div>
    <div class="container signin">
            <p>Masz konto? <button style="cursor:pointer" class="btn btn-success btn-lg btn-active btn-block" routerLink="/login">Zaloguj się</button></p>
    </div>
</form>
</div>


-->
