action-bar{
    background-color: black;
    color: orange;
}
ScrollView{
    background-color: black;
    color: orange;
}
.label1{
    text-align: center;
}
.btn-reg{
    background-color:orange;
    border-radius: 20;
    color: black;
    font-family: 'Oswald', 'Oswald-Regular','Oswald-Bold';
    font-size: 15;
    vertical-align: left;
    width: 50%;
    
}
.btn-reg:active {
    background-color: yellow;
    transform: translateY(4px);
  }