<app-action-bar title="Moje konto"></app-action-bar>
<!--
Original Web template:

<h1 class="headers">Moje konto</h1>

<div class="d-inline-block">
    <table class= "table-bordered table-striped table-hover table-dark">
      <tr>
        <th>Imię:</th>
        <td *ngIf="graczApi">{{graczApi.imie}}</td>
      </tr>
      <tr>
        <th>Nazwisko:</th>
        <td *ngIf="graczApi">{{graczApi.nazwisko}}</td>
      </tr>
      <tr>
      <th>Login:</th>
      <td *ngIf="graczApi">{{graczApi.login}}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td *ngIf="graczApi">{{graczApi.email}}</td>
    </tr>
    <tr>
    <th>Wiek:</th>
    <td *ngIf="graczApi">{{graczApi.wiek}}</td>
    </tr>
  <tr>
    <th>Wykształcenie:</th>
    <td *ngIf="graczApi">{{graczApi.wyksztalcenie}}</td>
  </tr>
  <tr>
      <th>Stan konta:</th>
      <td *ngIf="graczApi">{{graczApi.konto | currency: " "}} zł</td>
    </tr>
    </table>
</div>
<div >

    <button class="btn btn-primary btn-lg btn-block" routerLink="/aktualizacja">Aktualizuj dane</button>

    <button class="btn btn-primary btn-lg btn-block" routerLink="/zmiana-hasla">Zmiana hasla</button>

    <button *ngIf="!isAdmin"class="btn btn-primary btn-lg btn-block" routerLink="/moje-zaklady">Moje zaklady</button>

    <button class="btn btn-primary btn-lg btn-block align-button-middle" routerLink='/doladuj'>Doładuj konto</button>
</div>

-->
