<app-action-bar title="Moje konto" [showBackButton]="true"></app-action-bar>


  <GridLayout flexWrap="wrap" columns="*,*" rows="20,20,20,20,20,20,20,*,*" margin="8%">
      <Label text="Imie" row="0" col="0" ></Label>
      <Label *ngIf="graczApi" text="{{graczApi.imie}}" row="0" col="1" ></Label>

      <Label text="Nazwisko" row="1" col="0" ></Label>
      <Label *ngIf="graczApi" text="{{graczApi.nazwisko}}" row="1" col="1" ></Label>

      <Label text="Login" row="2" col="0" ></Label>
      <Label *ngIf="graczApi" text="{{graczApi.login}}" row="2" col="1" ></Label>

      <Label text="E-mail" row="3" col="0" ></Label>
      <Label *ngIf="graczApi" text="{{graczApi.email}}" textWrap="true"  row="3" col="1" ></Label>

      <Label text="Wiek" row="4" col="0" ></Label>
      <Label *ngIf="graczApi" text="{{graczApi.wiek}}" row="4" col="1" ></Label>

      <Label text="Wykształcenie" row="5" col="0" ></Label>
      <Label *ngIf="graczApi" text="{{graczApi.wyksztalcenie}}" row="5" col="1" ></Label>

      <Label text="Stan konta" row="6" col="0" ></Label>
      <Label *ngIf="graczApi"  text="{{graczApi.konto | currency:''}} zł" row="6" col="1" ></Label>

      <Button row="7" col="0" text="Aktualizuj dane" nsRouterLink="/aktualizacja" style="background-color: #0099CC; margin: 1;"></Button>
      <Button row="7" col="1"   text="Zmiana hasla" nsRouterLink="/zmiana-hasla" style="background-color: #0099CC; margin: 1;"></Button>

      <Button row="8" col="0"   text="Moje zaklady" nsRouterLink="/moje-zaklady" style="background-color: #0099CC; margin: 1;"></Button>
      <Button row="8" col="1"   text="Doładuj konto" nsRouterLink="/doladuj" style="background-color: #0099CC; margin: 1;"></Button>


     </GridLayout>


<!--
Original Web template:

<h1 class="headers">Moje konto</h1>

<div class="d-inline-block">
    <table class= "table-bordered table-striped table-hover table-dark">
      <tr>
        <th>Imię:</th>
        <td *ngIf="graczApi">{{graczApi.imie}}</td>
      </tr>
      <tr>
        <th>Nazwisko:</th>
        <td *ngIf="graczApi">{{graczApi.nazwisko}}</td>
      </tr>
      <tr>
      <th>Login:</th>
      <td *ngIf="graczApi">{{graczApi.login}}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td *ngIf="graczApi">{{graczApi.email}}</td>
    </tr>
    <tr>
    <th>Wiek:</th>
    <td *ngIf="graczApi">{{graczApi.wiek}}</td>
    </tr>
  <tr>
    <th>Wykształcenie:</th>
    <td *ngIf="graczApi">{{graczApi.wyksztalcenie}}</td>
  </tr>
  <tr>
      <th>Stan konta:</th>
      <td *ngIf="graczApi">{{graczApi.konto | currency: " "}} zł</td>
    </tr>
    </table>
</div>
<div >

    <button class="btn btn-primary btn-lg btn-block" routerLink="/aktualizacja">Aktualizuj dane</button>

    <button class="btn btn-primary btn-lg btn-block" routerLink="/zmiana-hasla">Zmiana hasla</button>

    <button *ngIf="!isAdmin"class="btn btn-primary btn-lg btn-block" routerLink="/moje-zaklady">Moje zaklady</button>

    <button class="btn btn-primary btn-lg btn-block align-button-middle" routerLink='/doladuj'>Doładuj konto</button>
</div>

-->
